<div class="h-screen w-full bg-gray-50">
	<h1 class="text-4xl my-4">New Trip</h1>

	<div class="flex flex-col mt-6 px-4">
		<%= render 'form', trip: @trip %>
		<br/>
		<%= link_to 'Cancel', trips_path %>
	</div>


</div>
